* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.loader {
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: rgb(255, 255, 255);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.loader::after {
  content: "";
  width: 100px;
  height: 100px;
  border: 20px solid rgb(0, 200, 255);
  border-top: 20px solid lightblue;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.hide {
  opacity: 0;
  transition: opacity 0.5s ease;
  pointer-events: none;
}

.content {
  padding: 50px;
  text-align: center;
  font-family: Arial, sans-serif;
}
